/*h1, h3 {
  text-align: center;
}*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Ubuntu:300,400,700');

/*GLOBAL STYLES */

p {
  font-family: 'Roboto', sans-serif;
}

a {
  font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, h4, h5, th {
  font-family: 'Ubuntu', sans-serif !important;
}

.container {
  padding-top: 15px;
}

textarea.form-control {
  resize: none;
  height: 150px;
}


.btn-delete {
  margin-top: 32px;
}

@media screen and (max-width: 1109px){
  .btn-delete {
    margin-top: 12px;
  }
}

.fa-times {
  color: red;
}

.fa {
  padding: 5px;
}

/* STYLE GUIDE */
/*COLORS */
.colors {
  margin-bottom: 10px;
}
.sizing {
  margin-top: 20px;
  margin-bottom: 10px;
}
.color-box {
  width: 75px;
  height: 75px;
  border: 1px solid black;
  margin-bottom: 5px;
}

#box1 {
  background-color: #8148f3;
}

#box2 {
  background-color: #3D2273;
}

#box3 {
  background-color: #1B0F34;
}

#box4 {
  background-color: #E33DFA;
}

#box5 {
  background-color: #6f1e7a;
}

#box6 {
  background-color: #350E3B;
}

#box7 {
  background-color: #DADADA;
}

#box8 {
  background-color: #9A9A9A;
}

#box9 {
  background-color: #0E0D0A;
}

/*TYPOGRAPHY */

h3 {
  font-weight: 700;
  color: #3D2273;
}

h2 {
  color: #0E0D0A; 
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.headings {
  margin-bottom: 10px;
}


/*UI ELEMENTS*/
.input {
  margin-top: 10px;
}
