@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Ubuntu:300,400,700');

/*GLOBAL STYLES */

body {
  background: #411147;
}
p {
  font-family: 'Roboto', sans-serif;
}

a {
  font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, h4, h5, th {
  font-family: 'Ubuntu', sans-serif !important;
}

#styleguide {
  background-color: white;
}

.container {
  padding-top: 15px;
}

textarea.form-control {
  resize: none;
  height: 150px;
}

.alert {
  color: #6f1e7a;
  background-color: #D2B8F3;
  border-color: #6f1e7a;
}

.btn-delete {
  margin-top: 32px;
}


.fa {
  padding: 5px;
}

@media screen and (max-width: 1109px){
  .btn-delete {
    margin-top: 12px;
  }
}

/*NAV STYLES*/
nav {
 font-family: 'Ubuntu', sans-serif;
}

.navbar-default {
  background-color: #0e0d0a;
  border-color: #0e0d0a; 
}

.navbar-default .navbar-brand {
  color: #9a9a9a;
}
 .navbar-default .navbar-nav>li>a {
   color: #9a9a9a;
 }

/*INDEX PAGE STYLES*/
tbody {
  background-color: #D2B8F3;
}

thead {
  background-color: #503573;
  color: #dadada;
}

.icon:hover {
  color: #cccccc;
  text-shadow: 0px 1px 0px black;
}


/* STYLE GUIDE */
/*COLORS */
.colors {
  margin-bottom: 10px;
}
.sizing {
  margin-top: 20px;
  margin-bottom: 10px;
}
.color-box {
  width: 75px;
  height: 75px;
  border: 1px solid black;
  margin-bottom: 5px;
}

#box1 {
  background-color: #D2B8F3;
}

#box2 {
  background-color: #AA70F5;
}

#box3 {
  background-color: #503573;
}

#box4 {
  background-color: #BC6CC6;
}

#box5 {
  background-color: #6f1e7a;
}

#box6 {
  background-color: #411147;
}

#box7 {
  background-color: #DADADA;
}

#box8 {
  background-color: #9A9A9A;
}

#box9 {
  background-color: #0E0D0A;
}

.fa {
  color: #0E0D0A;
}
/*TYPOGRAPHY */

h1{
  color: #AA70F5;
}

h3 {
  font-weight: 700;
  color: #503573;
}

h2 {
  color: #0E0D0A;
}

h4 {
  color: #9A9A9A;
  font-weight: bold;
}

h5 {
  font-weight: bold;
}



.ubuntu {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.headings {
  margin-bottom: 10px;
}


/*UI ELEMENTS*/
.input {
  margin-top: 10px;
}

.btn-sm {
  background-color: #AA70F5;
  border-color: #AA70F5;
  color: #dadada;
}

.btn-sm:hover {
  background-color: #503573;
  color: #dadada;
}

.btn-md {
  background-color: #503573;
  color: #AA70F5;
}

.btn-md:hover {
  background-color: #D2B8F3;
  color: #0e0d0a;
}

.btn-lg {
  background-color: #D2B8F3;
  color: #0e0d0a;
}

.btn-lg:hover {
  background-color: #dadada;
  color: #0e0d0a;
}

input[type=text] {
  border: 1px solid #dadada;
}

select {
  border: 1px solid #dadada;
}

.form-control:focus {
  box-shadow: 0 0 1px #AA70F5;
}
